.rate-box{
    background: #eee;
    padding: 1em;
    width: 1000px;
    margin: 0 auto;
}


.rate-time{
    text-align: center;
}


.rate-base{
    margin:  1em 0;
}
.rate-base input{
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 5px;
}
.rate-base>.base-tip{
    position: absolute;
    margin: .8em 0 0 1em;
    color: #f00;
    font-size: .8em;
}


.rate-list,.rate-base{
    width: 320px;
}
.rate-item{
    padding: .4em;
    border-bottom: 1px solid #bbb;
}
.rate-name{
    float: left;
}
.rate-number{
    float: right;
}
